@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap");

.dark-green-color {
  background-color: #1d5141 !important;
}

.important-white {
  color: white !important;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif !important;
  width: 100%;
  height: 100%;
  background-color: #1d5141 !important;
  position: relative !important;
}

.important-hover:hover {
  color: white !important;
  background-color: black !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.important-green {
  color: #ffffff !important;
}

.navbar-line {
  width: 1px;
  background-color: white !important;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

h6 {
  font-size: 14px !important;
}

.active {
  color: white !important;
  background-color: black !important;
}

.banner {
  width: 100%;
  background-image: url("../assets//banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 300px;
}

.left-menu {
  position: fixed;
  left: 0px;
  background-color: black;
  top: 50%;
  padding: 10px;
  height: 200px;
}

.portfolio {
  color: white;
  font-size: 40px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

.hover-portfolio:hover {
  background-color: #545461;
  transition: 0.3s;
  cursor: pointer;
}

.students-nav {
  color: white;
  font-weight: 600;
  justify-content: space-between;
  display: flex;
  background-color: black;
}

.students-nav li {
  padding: 10px 30px;
  font-size: 15px;
  display: flex;
  justify-content: center !important;
}

.students-nav li:last-child {
  border-right: none;
}

.portfolio-title {
  color: white !important;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 40px;
  background-color: black;
  padding: 20px;
}

.portfolio-box {
  background-color: white;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
  cursor: pointer;
}

.portfolio-left-box {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.portfolio-right-box {
  width: 100%;
  height: 100%;
  background-color: #fefeff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.portfolio-right-box-title {
  font-size: 40px;
  color: #1d5141;
  margin-bottom: 40px;
}

.portfolio-img {
  background-image: url("../assets/portfolio-1.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 40px;
  background-repeat: no-repeat;
}

.tech {
  margin-top: 10px;
  font-size: 12px !important;
  text-transform: uppercase;
  color: #1d5141;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

.portfolio-box:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.fa-link {
  margin-top: 30px;
  padding: 15px;
}

.fa-link:hover {
  background-color: #1d5141;
  color: white !important;
}

.go-to-top-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.ff-pro {
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
}

.cross {
  position: absolute;
  top: 0%;
  right: -20px;
  background-color: black;
  padding: 5px;
  transform: translate(-50%);
  color: white;
  cursor: pointer;
}

.left-menu > ul > li:hover {
  background-color: #414141;
}

.left-menu > ul > li > a {
  margin-left: 5px;
}

.fixed-top {
  position: fixed !important;
  top: 0px !important;
}

.left-menu-active {
  background-color: #414141;
}


.accueil-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.384);
  text-align: center !important;
  padding: 40px;

}

.container-accueil {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.logo-ifocop {
  margin-bottom: 40px;

}

.accueil-section p {
  margin-bottom: 60px !important;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white !important;
  font-size: 20px;
}


.accueil-section h2 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color : white !important;
  margin-bottom: 40px;
}

.ici {
  font-size: 40px;
}

.btn-class {
  background-color: #1d5141 !important;
  border-radius: none !important;
  border: none;
  color:white !important;
  padding: 5px 10px 5px 10px;
}

.dropdown-menu {
  border-radius: 0px !important;
  top: 96% !important;
}

.dropdown-item:hover {
  background-color: rgba(0, 100, 0, 0.2) !important;
}

.bg-ifocop-green {
  background-color: #1d5141 !important;
}